{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 21, "knowledge_revision": 152, "git_revision": "", "hash": "29b6b00f6f1961894c7a69aeb24a8e51", "format-version": 4, "code-base-name": "default", "filename": "noteease_frontend/windows/runner/Runner.rc", "revision_history": [{"152": ""}]}