{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 80, "knowledge_revision": 214, "git_revision": "", "hash": "756c74628e2ed9c7dd119b803c517a09", "format-version": 4, "code-base-name": "default", "filename": "noteease_frontend/ios/Runner/Info.plist", "revision_history": [{"214": ""}]}