{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 48, "knowledge_revision": 186, "git_revision": "", "hash": "6c5e4a2530769b5b060300025c28348f", "format-version": 4, "code-base-name": "default", "filename": "noteease_frontend/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"186": ""}]}