{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter-Generated.xcconfig", "XCConfig", "Flutter", "iOS build configuration"], "state": 2, "file_id": 37, "knowledge_revision": 172, "git_revision": "", "hash": "a741b73282e478dba22da2f5a3520a23", "format-version": 4, "code-base-name": "default", "filename": "noteease_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"172": ""}]}